.u-section-1 {
    min-height: 66px;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 655px;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    margin: 0;
  }
  
  .u-section-1 .u-layout-cell-1 {
    min-height: 655px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px 60px;
  }
  
  .u-section-1 .u-icon-1 {
    height: 48px;
    width: 48px;
    background-image: none;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-1 {
    margin: 31px auto 0;
  }
  
  .u-section-1 .u-text-2 {
    margin: 19px 0 0;
  }
  
  .u-section-1 .u-btn-1 {
    border-style: none none solid;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: 20px auto 0;
    padding: 0;
  }
  
  .u-section-1 .u-image-1 {
    min-height: 655px;
    background-image: url("images/236510477-0.jpeg");
    background-position: 50% 50%;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 30px 60px;
  }
  
  @media (max-width: 1199px) {
     .u-section-1 {
      min-height: 318px;
    }
  
    .u-section-1 .u-sheet-1 {
      min-height: 89px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 540px;
    }
  
    .u-section-1 .u-image-1 {
      min-height: 540px;
    }
  }
  
  @media (max-width: 991px) {
     .u-section-1 {
      min-height: 66px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-1 .u-image-1 {
      min-height: 414px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-container-layout-1 {
      padding-left: 50px;
      padding-right: 50px;
    }
  
    .u-section-1 .u-image-1 {
      min-height: 621px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-image-1 {
      min-height: 391px;
    }
  }